/*  RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ol,
ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: unset;
}

button {
  border: 0;
  background-color: unset;
  cursor: pointer;
}

body {
  background-color: whitesmoke;
}

/* APP */

#header{
  text-align: center;
}

#page__title {
    font-style: italic;
    font-size: 34px;
    margin: 20px;
    text-decoration: underline;
}
.deskForm {
    margin: 10px
}

.deskForm label {
    font-size: 16px;
    margin: 0 5px 0 15px;
}

.form__submit {
    display: block;
    margin: 10px auto 5px auto;
    padding: 5px 15px;
    background-color: salmon;
    border-radius: 20px;
    font-size: 20px;
    color: white;
}

.mappingContainer {
    background-color: wheat;
    width: 90vw;
    height: 80vh;
    margin: auto;
    border-radius: 20px;
    border: 3px solid black;
}

.desk {
  display: inline-block;
  cursor: move;
  text-align: center;
  padding: 10px;
  background-color: lightcoral;
  position: absolute;
  border-radius: 15px;
  color: white;
}
